.textandbackgroundwrap{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;;
}
.textandbackgroundHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.textandbackgroundHeading h2{
    color: #EC5D5B;
    font-size: 64px;
    line-height: 1;
    font-family: 'Solido';
    margin: 0;
    text-align: center;
}
.textandbackgroundHeading p{
    color: #EC5D5B;
    font-size: 28px;
    line-height: 32px;
    font-family: 'Solido';
    padding: 0 20px;
    text-align: center;
}
.globalButton{
    font-family: 'Solido';
    font-size: 28px;
    line-height: 36px;
    color: #EC5D5B;
    background-color: #fff;
    text-decoration: none;
    padding: 2px 20px;
    border-radius: 5px;
}
.globalButton.quick-add__submit{
    width: auto;
}
.imagewraper img {
    height: 332px;
}
.imagewraper {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media all and (max-width: 750px) {
    .textandbackgroundwrap{
        grid-template-columns: 100%;
    }
    .emptySec{
        display: none;
    }
}